---
import type { CollectionEntry } from "astro:content";
import FeaturedPostImage from "./FeaturedPostCard/FeaturedPostImage.astro";
import FeaturedPostOverlay from "./FeaturedPostCard/FeaturedPostOverlay.astro";
import FeaturedPostContent from "./FeaturedPostCard/FeaturedPostContent.astro";

interface Props {
  post: CollectionEntry<"blog">;
  index: number;
  authorImage: string;
  authorSlug: string;
}

const { post, index, authorImage, authorSlug } = Astro.props;

const postUrl = `/${post.slug}`;
---

<article
  id={`featured-post-${post.slug}`}
  class="group relative h-80 overflow-hidden rounded-3xl transition-all duration-300 hover:shadow-xl dark:hover:shadow-gray-800/50 lg:h-[600px]"
  class:list={[index === 0 && "lg:col-span-2 lg:row-span-2"]}
  aria-labelledby={`featured-post-title-${post.slug}`}>
  <FeaturedPostImage
    heroImage={post.data.heroImage}
    index={index}
  />
  <FeaturedPostOverlay />
  <FeaturedPostContent
    post={post}
    index={index}
    authorImage={authorImage}
    authorSlug={authorSlug}
  />
  <a
    href={postUrl}
    class="absolute inset-0 z-20"
    aria-labelledby={`featured-post-title-${post.slug}`}
  ></a>
</article>
