---
import type { CollectionEntry } from "astro:content";
import FeaturedPostMeta from "./FeaturedPostMeta.astro";
import FeaturedPostTitle from "./FeaturedPostTitle.astro";
import FeaturedPostDescription from "./FeaturedPostDescription.astro";
import FeaturedPostTags from "./FeaturedPostTags.astro";

interface Props {
  post: CollectionEntry<"blog">;
  index: number;
  lang: string;
}

const { post, index, lang } = Astro.props;
---

<div
  class="relative flex h-full flex-col justify-end text-white p-4 sm:p-8 md:p-10 lg:p-12">
  <div class="z-10 space-y-2">
    <FeaturedPostMeta
      post={post}
      lang={lang}
    />
    <FeaturedPostTitle
      post={post}
      index={index}
      lang={lang}
    />
    <FeaturedPostDescription
      post={post}
      index={index}
    />
    <FeaturedPostTags tags={post.data.tags} />
  </div>
</div>
