---
import type { CollectionEntry } from 'astro:content';
import FeaturedPostMeta from './FeaturedPostMeta.astro';
import FeaturedPostTitle from './FeaturedPostTitle.astro';
import FeaturedPostDescription from './FeaturedPostDescription.astro';
import FeaturedPostTags from './FeaturedPostTags.astro';

interface Props {
  post: CollectionEntry<'blog'>;
  index: number;
  lang: string;
}

const { post, index, lang } = Astro.props;
---

<div class="relative flex h-full flex-col justify-end p-4 text-white sm:p-8 md:p-10 lg:p-12 pointer-events-none">
  <div class="z-30 space-y-4">
    <FeaturedPostTitle post={post} index={index} lang={lang} />
    <FeaturedPostTags tags={post.data.tags} lang={lang} />
    <FeaturedPostMeta post={post} lang={lang} />
    <FeaturedPostDescription post={post} index={index} />
  </div>
</div>
